<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style type="text/css" media="screen">
.container{
  margin:50px;
}
.thumbnail img {
  height:250px;
}
</style>

</head>
<body>

<% include header %>
<div class="container">
<% products.forEach(function(pr){ %>
    <div class="row">
    <% pr.forEach(function(p){ %>
      <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="<%= p.imagePath %>" alt="" class="img-responsive" >
                <div class="caption">
                  <h3><%= p.title %></h3>
                  <p class="description"><%= p.description %></p>
                  <div class="clearfix">
                      <div class="price pull-left">$ <%= p.price %></div>
                      <a href="#" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                  </div>
                </div>
              </div>
      </div>
      <% }); %>
  </div>
<% }); %>
</div>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>